<header class="fixed flex justify-between items-center px-4 py-5 w-full mx-auto ">
<p class="hidden md:block text-yellow-200/90">Maximiliano Liria</p>

<nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top" class="hover:text-[#FF4B3E]">Inicio</a>
    <a href="#sobre-mi" class="w-[66px] md:w-full hover:text-[#FF4B3E]">Sobre mí</a>
    <a href="#experiencia" class="hover:text-[#FF4B3E]">Experiencia</a>
    <a href="#proyectos" class="hover:text-[#FF4B3E]">Proyectos</a>
</nav>
</header>